Package: com.fiore.mockuputil
Name: MockupUtil
Version: 1.0.0
Architecture: iphoneos-arm
Description: Control center module to prepare devices for mockups.
Maintainer: fiore
Author: fiore
Section: Tweaks
Depends: mobilesubstrate
